# Format Style Options - Created with Clang Power Tools
---
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: false
AllowShortLambdasOnASingleLine: None
AlwaysBreakAfterReturnType: None
BasedOnStyle: Chromium
BinPackArguments: false
BreakBeforeBraces: Allman
IndentWidth: 4
IndentWrappedFunctionNames: true
NamespaceIndentation: All
SortIncludes: false
...
